/* SAMPLE CSS */
body {
  display: flex;
  background-color: lavender;
}

.w3-sidebar a {
  font-family: "Roboto", sans-serif
}
body,h1,h2,h3,h4,h5,h6,.w3-wide {
  font-family: "Montserrat", sans-serif;
}

.cl-home-search-query {
    margin: 10px 10px 15px 5px;
}
.cl-search-dropdown {
    position: relative;
    margin-top: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 16px;
    text-align: left;
}

[class^="icom-"], [class*=" icom-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.w3-left{
  display: inline-block;
  text-align: center;
  padding: 20px
}

.cl-home-search-query.wide{
  display: inline-block;
  flex: 1;
}

.w3-right{
  display: inline-block;
}

.w3-bar-item.w3-padding{
  background-color: #f0f0f0;
  border: 1px solid #000;
  padding: 10px;
}

.w3-sidebar.right-sidebar.w3-bar-block.w3-white.w3-collapse.w3-top{
   background-color: #f1f1f1; /* Set your preferred background color */
   width: 100px !important; /* Half the width of the left sidebar */
   float: right;
}

.w3-main{
  flex: 1; /* Take remaining space in the flex container */
  /* max-width: calc(100% - 250px); */ /* Adjust for the sidebar width */
  margin-left: 250px; /* Match the width of the sidebar */
  margin-right: 100px;
}

/* Sidebar/menu */
nav {
  flex: 0 0 250px; /* Set the width of the sidebar */
  z-index: 3;
}

nav .w3-container {
  position: relative;
}

b {
  padding: 5px;
}

.logo-image {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 1px; /* Add some space between the image and the text */
}

.footer {
  background-color: #ddd; /* Grey background color */
  padding: 20px; /* Add some padding for better visibility */
  text-align: center; /* Center the text */
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; Align columns to the top */
}

.column {
    flex: 1;
    width: 50%; /* Adjust the width as needed */
    box-sizing: border-box;
    padding: 10px;
    /* border: 1px solid #ccc; */ /* Optional: Add a border for visual separation */
    text-align: left;
    padding-top: 20px;
}

.w3-display-container.w3-container {
    /* Add margin-bottom to create space between content and footer */
    margin-bottom: 100px; /* Adjust the value as needed */
}

